In [1]:
import pandas as pd

In [2]:
#2 main datatypes
series = pd.Series(["BMW", "TOYOTA", "HONDA"])

In [3]:
series

0       BMW
1    TOYOTA
2     HONDA
dtype: object

In [4]:
#series = 1-dimensional

In [5]:
colours= pd.Series(["Red", "Blue", "White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [6]:
# DataFrame = 2-dimensional
car_data = pd.DataFrame({"Car make": series, "Colour": colours})
car_data

  Car make Colour
0      BMW    Red
1   TOYOTA   Blue
2    HONDA  White

In [ ]:
#import data